<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'cdnlines.html' %}
    <title>studentform</title>
</head>
<body>
    <h2>Enter Student Details</h2>
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <form action="{% url 'save_update_data' sd.id %}" method="post">{% csrf_token %}
                    <label for="">Enter Firstname</label>
                    <input type="text" name="fname" value="{{sd.fname}}"  class="form-control">
                    <label for="">Enter lastname</label>
                    <input type="text" name="lname" value="{{sd.lname}}" class="form-control">
                    <label for="">Enter email</label>
                    <input type="email" name="email" value="{{sd.email}}" class="form-control">
                    <label for="">Enter mobile</label>
                    <input type="number" name="mobile" value="{{sd.mobile}}" class="form-control">
                    <label for="">Enter marks1</label>
                    <input type="number" name="marks1" value="{{sd.marks1}}" class="form-control">
                    <label for="">Enter marks2</label>
                    <input type="number" name="marks2" value="{{sd.marks2}}" class="form-control">
                    <label for="">Enter marks3</label>
                    <input type="number" name="marks3" value="{{sd.marks3}}" class="form-control">
                    <label for="">Enter marks4</label>
                    <input type="number" name="marks4" value="{{sd.marks4}}" class="form-control">
                    <center>
                        <input type="submit" value="submit" class="btn btn-primary">
                        <input type="reset" value="cancel" class="btn btn-warning">
                    </center>

                </form>
            </div>

        </div>
    </div>
</body>
</html>